@import '../../sass/variables';
@import '../../sass/mixins';

.panel-header{
    @include flex-vertical-center;
    background-color: $blue;
    color: white;
    margin-bottom: 20px;
    position: relative;
    h2 {
        font-weight: 400;
    }
    @include tablet {
        margin-bottom: none;
    }
}