@import '../../sass/variables';
@import '../../sass/mixins';

.main-header {
    @include flex-vertical-center;
    @include box-shadow(5px, $black);
    color: $black;
    height: 120px;
    .main-title{
        font-family: $font-title;
        font-size: 35px;
    }
}