@import '../../sass/variables';
@import '../../sass/mixins';

.input-label {
    position: relative;
    display: inline-block;
    width: 100%;
    .input {
        @include remove-outline;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid darken($white, 30);
        box-sizing: border-box;
        color: $white;
        font-family: $font-content;
        font-size: 18px;
        height: 45px;
        padding-left: $padding-s;
        width: 100%;
        &:focus + .input-underline{
            width: 100%;
        }
    }
    
    .input-underline{
        border-bottom: 2px solid $white;
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        transition: width 0.3s linear;
        width: 0%;
    }
}