@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Montserrat:wght@400;600;700&display=swap');

$black: #333;
$font-content: 'Merriweather', serif;
$font-content-size: 15px;
$font-title: 'Montserrat', sans-serif;
$white: #FAFAFA;

$padding-xs: 5px;
$padding-s: 10px;
$padding-m: 15px;
$padding-l: 20px;
$padding-xl: 25px;
$padding-xxl: 30px;
$margin-xs: $padding-xs;
$margin-s: $padding-s;
$margin-m: $padding-m;
$margin-l: $padding-l;
$margin-xl: $padding-xl;
$margin-xxl: $padding-xxl;