@import '../../sass/variables';
@import '../../sass/mixins';

.content-main {
    background-color: $white;
}

.reclamo-table-container {
    padding: $padding-l;
}
.nuevo-reclamo {
    position: absolute;
    right: 15px;
    bottom: -32px;
    @include tablet {
        bottom: 23px;
    }
}