@import '../../sass/mixins';

@include tablet {
    .view-detail {
        display: none;
    }
}

.reclamo-img-container {
    height: 100px;
    overflow: hidden;
    width: 100px;
    img {
        max-width: 100%;
    }
}