@import '../../sass/mixins';
@import '../../sass/variables';

@include tablet {
    .view-detail {
        display: none;
    }
}

.reclamo-img-container {
    height: 100px;
    overflow: hidden;
    width: 100px;
    img {
        max-width: 100%;
    }
}
.modal-imagen {
    height: 95vh!important;
    max-height: none;
    max-width: none;
    left: 5vw;
    width: 90vw!important;
    img {
        max-width: 100%;
        width: 100%;
    }
}