@import '../../sass/mixins';

.table {
    border-collapse: collapse;
    th {
        &.hideable {
            display: none;
        }
        @include tablet {
            &.hideable {
                display: table-cell;
            }    
        }
    }
}
